<%= render partial: 'layouts/admin_menu' %>
<div class='row'>
  <div class='span3'>
    <div class="well">
      <dl>
        <dt>Name</dt>
        <dd><%= best_in_place @team, :name,
                      ok_button: 'Save',
                      cancel_button: 'Cancel' %></dd>
        <dt>Finance Code</dt>
        <dd><%= best_in_place @team, :finance_code,
                      as: :select,
                      collection: {'BRL': 'BRL', 'CATA1':'CATA1','CATA2':'CATA2', 'FELL':'FELL'} %></dd>
        <dt>Description</dt>
        <dd><%= best_in_place @team, :description,
                      ok_button: 'Save',
                      cancel_button: 'Cancel' %></dd>

        <dt>YTD Gift Card $</dt>
        <dd><%= @team.gift_card_total %></dd>

      </dl>
    </div>

  </div>
  <div class='span3'>
    <table class="table table-striped" >
      <thead>
        <th>Users</th>
      </thead>
      <tbody>
        <% @team.users.each do |user| %>
        <tr>
          <td> <%=link_to user.name, user_path(user) %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='span6' style='overflow: auto, height:400px'>
  <h3> Recent Sessions</h3>
   <%= will_paginate @sessions,
          remote: true,
          param_name: 'sessions_page',
          renderer: BootstrapPagination::Rails %>
    <table class="table table-striped" >
      <thead>
        <tr>
          <th colspan="1">Title</th>
          <th colspan="1">User</th>
          <th colspan="1">Date</th>
          <th colspan="1">Invited</th>
          <th colspan="1">Gift Card Count</th>
          <th colspan="1">Gift Card Amount</th>
          <th colspan="1">Tags</th>
        </tr>
      </thead>
      <tbody>
        <% @sessions.each do |session| %>
        <tr>
          <td><%= link_to session.title, session %> </td>
          <td><%= link_to session.user.name, session.user %> </td>
          <td><%= session.start_datetime_human %> </td>
          <td><%= session.invitations.invited.size %> </td>
          <td><%= session.gift_cards.size %> </td>
          <td><%= session.gift_cards.sum(&:amount) %> </td>
          <td><%= session.tag_list.to_s %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class='row'>
  <div class='span12'>
    <h3>Recent People</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="1">Name</th>
          <th colspan="1">Zip</th>
          <th colspan="1">Neighborhood</th>
          <th colspan="1">Gift Card YTD</th>
          <th colspan="1">Tags</th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
        <tr>
          <td><%= link_to person.full_name, person %></td>
          <td><%= person.postal_code %></td>
          <td><%= person.neighborhood %></td>
          <td><%= person.gift_card_total %></td>
          <td><%= person.tag_list.to_s %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class='row'>
  <div class='span12'>
  <h3>Recent actions</h3>
   <%= will_paginate @changes,
          remote: true,
          param_name: 'changes_page',
          renderer: BootstrapPagination::Rails %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="1">Type</th>
          <th colspan="1">Id</th>
          <th colspan="1">Link</th>
          <th colspan="1">event</th>
          <th colspan="4">changes</th>
        </tr>
      </thead>

      <tbody>
        <% @changes.each do |change| %>
        <tr>
          <td><%= change.item_type %></td>
          <td><%= change.item_id %></td>
          <td><%=
            begin
              link_to(find_name(change.item), url_for(change.item))
            rescue NameError
              "none"
            end
          %></td>
          <td><%= change.event %></td>
          <td>
          <%=raw ap JSON.parse(change.object_changes), html: true if change.object_changes %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Edit', edit_team_path(@team), class: 'btn' %> |
<%= link_to 'Back', teams_path, class: 'btn' %>
