<%  person = cart_person.person
    cart = cart_person.cart
    user = cart_person.cart.user %>
<tr id='cart-<%= person.id %>'>
  <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
  <% if current_user.admin? %>
  <td><%= link_to cart.name, cart %></td>
  <% else %>
  <td><%= cart.name%></td>
  <% end %>
  
  <% if current_user.admin? %>
  <td><%= link_to user.name, user %></td>
  <% else %>
  <td><%= cart.name%></td>
  <% end %>
<tr>
