<div class="deactivated-person well">
  <span class="name"><%= link_to "#{person.first_name} #{person.last_name}", person %></span><br/>
  <span class="deactivated-at">Time:<%= person.deactivated_at.to_s :short %></span><br/>
  <span class="deactivated-method">Method:<%= person.deactivated_method %></span><br/>
  <% if person.versions&.last&.whodunnit.present? %>
    <% user = User.find person.versions.last.whodunnit %>
  <span class="deactivated-by">by:<%= user.name %></span><br/>
  <% end %>
  <span class="gift-cards">Gift Cards: <%= person.gift_cards.size %></span><br/>
  <span class="gift-cards">Last User Interaction: <%= person.research_sessions.last&.user&.name %></span>
</div>
