<% color = person.screened? ? 'green' : 'black' %> 
<tr id='person<%=person.id%>' >
  <td><%= link_to "#{person.first_name} #{person.last_name}", person %></td>
  <td style='color: <%=color%>'><%= person.created_at.to_date.to_s :short %></td>
  <td><%= person.low_income %></td>
  <td><%= person.referred_by %></td>
</tr>
