<div class="upcoming_session well">
  <% session = upcoming_session %>
  <span class="session"><%= link_to session.title, session %></span><br/>
  <span class="user"><%= session.user %></span><br/>
  <span class="start">Start:<%= session.start_datetime.to_s :short %></span><br/>
  <span class="People">People:<%= sessions.invitations.size %></span>
  <span class='tags'>Tags:<%=session.tag_list.to_s%></span><br/>
</div>
