<%= form_for(@cart,cart_path(@cart.id)) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Must be unique on Patterns. Keep it informative!",
          title: 'popover',
          original_title:"Pool Name"} %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :Description %>
    <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Not seen by anyone outside of Patterns. for internal use to keep track of pools.",
          title: 'popover',
          original_title:"Description"} %><br />
    <%= f.number_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
