<tr id='cart-<%= person.id %>'>
  <td><%= person.full_name %></td>
  <td><%= person.email_address %></td>
  <td><%= person.phone_number %></td>
  <td><%= person.preferred_contact_method %></td>
  <td><%= person.tag_count_cache %></td>
  <td><%= render partial: '/people/add_remove_cart', locals: {person: person} %></td>
</tr>
