<tr id='cart-<%= person.id %>'>
  <td><%= link_to person.full_name, person_path(person.id) %></td>
  <td><%= person.email_address %></td>
  <td style="width:200px"><%= number_to_phone(person.phone_number&.gsub('+1','')) %></td> 
  <td><%= person.preferred_contact_method %></td>
  <td><%= person.tag_list.size %></td>
  <td><%= render partial: '/people/add_remove_cart', locals: {person: person} %></td>
</tr>
