<% 
person ||= @person 
current_session ||= @current_session

%>

<tr id='cart-<%= person.id %>'>
  <td><%= link_to person.full_name, person_path(person) %></td>
  <td><%= person.preferred_contact_method %></td>
  <td><%= number_to_phone(person.phone_number&.gsub('+1',''), area_code: true) %></td> 
  <td>
    <% if current_session.nil? %> <!-- new session -->
    <a class='btn btn-mini add-to-session'
       data-fullname='<%= person.full_name %>'
       data-personid='<%= person.id %>'
       id='add-<%= person.id%>'>add</a>
    <% elsif current_session.is_invited?(person) %> 
      <!-- is already invited -->
      <%= link_to "Remove from Session", research_session_remove_person_path(current_session,person), id: "remove-person-#{person.id}" %>
    <% else %>
      <!--not yet invited-->
      <%= link_to "Add to Session", research_session_add_person_path(current_session,person), id: "add-person-#{person.id}" %>
    <% end %>
  </td>
  <td>
    <%= render partial: '/people/add_remove_cart',
          locals: {person: person}
    %>
  </td>
</tr>
