<% people ||= @people %>
<% current_session ||= @current_session %>
<span id='cart_mini_view'>
    <h3> People in Pool</h3>
    <% if current_session.nil? %>
    <%= select_tag "cart",
              options_from_collection_for_select(current_user.carts,'id','name_and_count'),
              prompt: "#{current_cart.name}: #{current_cart.people.count}",
              data:{
                remote: true,
                url: change_cart_index_path(format: :js),
                method: 'post'
              }
              %>
    <% else %>
    <%= select_tag "cart",
              options_from_collection_for_select(current_user.carts,'id','name_and_count'),
              prompt: "#{current_cart.name}: #{current_cart.people.count}",
              data:{
                remote: true,
                url: change_cart_index_path(current_session_id: current_session.id, format: :js),
                method: 'post'
              }
              %>
    <% end %>
    <!-- <input id='cart-typeahead' type="text" placeholder="People Search"> -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact Method</th>
          <th>Phone&nbsp;Number</th>
          <th>Session <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "This is to add or remove people from the current session.",
          title: 'popover',
          original_title:"Session People Management"} %></th>
          <th>Pool: Add/Remove</th>
        </tr>
      </thead>
      <tbody id='mini-cart' class='cart-container'>
        <% if defined? current_session %>
        <%= render partial: 'cart/mini_item', collection: people, as: :person, locals: {current_session: current_session }%>
        <% else %>
        <%= render partial: 'cart/mini_item', collection: people, as: :person %>
        <% end %>
      </tbody>
    </thread>
  </table>

</span>
