<%= render partial: 'layouts/admin_menu' %>
<h3> All Carts
<div class="row">
  <div class="span6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>people</th>
          <th>users</th>
          <th>Add/Remove</th>
        </tr>
      </thead>
      <tbody id='all-cart'>
        <% @carts.each do |cart| %>
        <tr id='cart-<%= cart.id %>'>
          <td><%= link_to cart.name, cart_path(cart) %></td>
          <td><%= cart.people.size %></td>
          <td><%= cart.users.size %></td>
          <td><% if cart.users.include?(current_user) %>
                <%= button_to "add", add_user_cart_index_path(user_id: current_user.id, id: cart.id), remote: true, style: 'display:none', id:"cart-#{cart.id}-user-#{current_user.id}-add" %>
                <%= button_to "remove", delete_user_cart_index_path(user_id: current_user.id, id: cart.id), remote: true,id:"cart-#{cart.id}-user-#{current_user.id}-remove" %>  
              <% else %>
                <%= button_to "add", add_user_cart_index_path(user_id: current_user.id, id: cart.id), remote: true,  id:"cart-#{cart.id}-user-#{current_user.id}-add" %>
                <%= button_to "remove", delete_user_cart_index_path(user_id: current_user.id, id: cart.id), remote: true, style: 'display:none',id:"cart-#{cart.id}-user-#{current_user.id}-remove" %>  
              <% end %>
            
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
