  <tr id='card-activation-<%= card_activation.id %>' 
      class='well well-small card-activation' 
      data-id='<%=card_activation.id%>' 
      data-last-4='<%= card_activation.last_4 %>'
      data-sequence-number='<%= card_activation.sequence_number %>' >
    <td class='batch_id'>
      <%= card_activation.batch_id %>
    </td>
    <td class='last_4'>
      <%= card_activation.last_4 %>
    </td>
    <td class='sequence_number'>
      <%= card_activation.sequence_number %>
    </td>
    <td class='amount'>
      <%= card_activation.amount %>
    </td>
    <% if current_user.admin? %>
    <td>
      <%= card_activation.user.name %>
    </td>
    <% end %>
    <td>
      <%= select_tag :reason,  options_for_select(GiftCard.reasons.keys.to_a,'interview'),
                      { class: 'input-small',
                        id: "card-actionvation-reason-#{card_activation.id}" }
        %>
    </td>
    <td>
      <%= button_tag "Add",
            data:{
              card_activation_id: card_activation.id,
              gift_card_number: card_activation.last_4.to_s,
              sequence_number: card_activation.sequence_number,
              batch_id: card_activation.batch_id.to_s,
              amount: card_activation.amount.to_s,
              expiration_date: card_activation.expiration_date,
            },
            id: "add-card-activation-#{card_activation.id}",
            class: 'add-card-activation' ,
            onclick: "add_card_activation(this);"  %>
    </td>
  </tr>
