<%= form_with(model: card_activation, local: true) do |form| %>
  <% if card_activation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_activation.errors.count, "error") %> prohibited this card_activation from being saved:</h2>

      <ul>
      <% card_activation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <dl class="dl-horizontal well">
      <dt>Card ID</dt>
      <dd><%= card_activation.id %></dd>
      <dt>Created By</dt>
      <% created_by = User.find(card_activation.created_by) %>
      <dd><%= link_to created_by.name, created_by %></dd>
      <dt>Status</dt>
      <dd><%= card_activation.status %></dd>
    </dl>
    <h4>Card id: <%= card_activation.id %></h4>
  
   <div class="field">
    <%= form.label :batch_id %><br>
    <%= form.text_field :batch_id,
          class: 'input-mini' %>
  </div>
  <div class="field">
    <%= form.label "sequence" %><br>
    <%= form.text_field :sequence_number, class: 'input-mini'%>
  </div>
  <div class='field'>
    <%= form.label :full_card_number %><br>
    <%= form.text_field :full_card_number, class: 'input-large'%>
  </div>
  <div class="field">
    <%= form.label :expiration_date %><br>
    <%= form.text_field :expiration_date,
          class: 'input-mini'%>
  </div>
  <div class="field">
    <%= form.label :secure_code %><br>
    <%= form.text_field :secure_code,
          class: 'input-mini'%>
  </div>
  <div class="field">
    <%= form.label :amount %><br>
    <%= form.text_field :amount,
          class: 'input-mini'%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
