<tr id='card-activation-<%=card_activation.id%>' 
  class='well well-small card-activation <%= cycle('dark', 'light') %>'
  data-user-name='<%= card_activation.user.name %>'
  data-id='<%=card_activation.id%>' 
  data-last-4='<%= card_activation.last_4 %>'
  data-sequence-number='<%= card_activation.sequence_number %>'>
  <td>
    <%= card_activation.last_4 %>
  </td>
  <td>
    <%= card_activation.batch_id %>
  </td>
  <td>
    <%= card_activation.sequence_number %>
  </td>
  <td>
    <%= card_activation.amount %>
  </td>
  <td class='label label-<%= card_activation.label %>'>
    <%= card_activation.status %>
  </td>
  <td>
    <% if card_activation.can_run_check? %>
      <%= button_to "Check", 
            check_card_activations_path(card_activation),
            remote: true, 
            class: 'btn btn-small', 
            id: "check-card-#{card_activation.id}" %>
    <% elsif card_activation.ongoing_call? %>
      <%= image_tag("/spinner.gif",size: '20x20') %>
    <% else %>
      Ready for use.
    <% end %>
  </td>
  <% if current_user.admin? %>
  <td> <!-- admin -->
    <%= select_tag :user_id,
        options_from_collection_for_select(User.approved.all,
                                          'id',
                                          'name', card_activation.user_id),
          class: 'input-small',
          data: {
           remote: true,
           method: 'post',
          url: change_user_card_activations_path(card_activation)} %>
    </td>
    <td>
    <%= check_box_tag "card_activation_id_change[]", 
          card_activation.id, false,
          id: "card_activation_id_change_#{card_activation.id}" %> |
    <%= link_to 'Show', card_activation %> | 
    <%= link_to 'Edit', edit_card_activation_path(card_activation) %> |
    <%= link_to 'Destroy', card_activation, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
  <% end %>
</tr>
