<section class="comment" id="comment-<%= comment.id %>">
  <a id="comment-<%= comment.id %>"></a>
  <% if current_user.admin? || current_user == comment.creator %>
  <%= best_in_place comment, :content, ok_button: 'Save', cancel_button: 'Cancel',as: :textarea, display_with: lambda { |v| markdown(v) } %>
  <% else %>
    <%= markdown(comment.content) %>
  <% end %>
  <br>
  <span class="comment-byline">
    <% if comment.created_by %>
      <%= comment.creator.email %> &mdash;
    <% end %>
    <%= time_ago_in_words(comment.created_at) %> ago
    <%= link_to 'delete note', comment_path(comment.id), method: :delete, remote: true, data: { confirm: "Delete this note? This cannot be undone." }, class: "comment-delete-link" %>
  </span>
</section>

