<%= render partial: 'layouts/admin_menu' %>
<h3>YTD Gift Card Amounts</h3>
<div class="row">
  <div class="span12" style="text-align:center">
    <%= will_paginate @people, :renderer => BootstrapPagination::Rails %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Active</th>
          <th>Amount</th>
          <th>Last Rearch Session</th>
          <th>Last Session User</th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr id='person-<%= person.id %>'>
            <td><%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %></td>
            <td><%= person.active? %>
            <td><%= humanized_money_with_symbol person.total_rewards/100 %></td>
            <td><%= link_to person.research_sessions.last.title, research_session_path(person.research_sessions.last) %></td>
            <td><%= link_to person.research_sessions.last.user.name, user_path(person.research_sessions.last.user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12" style="text-align:center">
    <%= will_paginate @people, :renderer => BootstrapPagination::Rails %>
  </div>
</div>
