<% content_for :page_title, @person.full_name %>

<div class="page-header">
<h1><%= @person.full_name %> <%= "| Deactivated" unless @person.active? %></h1>
</div>

<div class="row">
  <div class="span6">
    <div class="row">
      <div class="span3">
        <h3>About</h3>
        <dl>
          <dt>Add/Remove from Pool: <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Pools are handy ways to keep track of a group of people. you can add and remove a person from your current pool with this button.",
          title: 'popover',
          original_title:"Pools"} %></dt>
          <dd><span id='current_pool'><%= link_to current_cart.name, cart_index_path(current_cart) %></span>: <%= render partial: 'add_remove_cart', locals: {person: @person} %></dd>
          
          <dt>Verified? <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "This means that the name and contact info has been verified. We know this person is an actual person, and at one point the phone number/email address was correct.",
          title: 'popover',
          original_title:"Verification"} %></dt>
          <dd><%= best_in_place @person, :verified, as: :select, collection: Person::VERIFIED_TYPES.map{|p| [p,p]} %></dd>

          <dt>Low Income? <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "An optional question we ask when people sign up. Self reported.",
          title: 'popover',
          original_title:"Low Income"} %></dt>
          <dd><%= best_in_place @person, :low_income, as: :checkbox, collection: {false: "No", true: "Yes"} %></dd>

          <dt>DIG Level <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "'New' = Just joined. 'Active' = Participated in 3+ sessions. 'Regular' = Participated in at least one season in 6 months or with 2 teams. DIG Ambassador = active for at least one year, 2+ projects/teams",
          title: 'popover',
          original_title:"Participation Level"} %></dt>
          <dd><%= @person.participation_level %></dd>
          <dt>Preferred participation method</dt>
          <dd><%= best_in_place @person, :participation_type, as: :select, collection: %w(in-person remote) %></dd>
          
          <dt>Preferred Language <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "EN = english, ES = Spanish, ZH = Chinese.",
          title: 'popover',
          original_title:"Preferred Language"} %></dt>
          <dd><%= best_in_place @person, :locale, as: :select, collection: {en: 'english', es:'spanish',zh: 'chinese'} %></dd>
   
          <dt>Session Invitations <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: 'How many sessions have they been invited to?',
          title: 'popover',
          original_title:"Invitations"} %></dt>
          <dd><%= @person.invitations.invited.size %></dd>
          <dt>Missed <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: 'How many sessions have they been missed without cancelling in advance?',
          title: 'popover',
          original_title:"Misses"} %></dt>
          <dd><%=@person.invitations.missed.size %></dd>
          <dt>Cancel <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: 'How many sessions have they cancelled in advance?',
          title: 'popover',
          original_title:"Cancels"} %></dt>
          <dd><%= @person.invitations.cancelled.size %> </dd>
          <dt>Attended <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: 'How many sessions have they attended?',
          title: 'popover',
          original_title:"Attendance"} %></dt>
          <dd><%= @person.invitations.attended.size %></dd>
        </dl>
      </div>

      <div class="span3">
        <h3>Contact</h3>

        <dl>
          <dt>Phone</dt>
          <dd><%= best_in_place @person, :phone_number, display_with: lambda{|p| number_to_phone(p, area_code: true) } %></dd>

          <dt>Email</dt>
          <dd><%= best_in_place @person, :email_address %></dd>

          <dt>Preferred Contact Method</dt>
          <dd><%= best_in_place @person, :preferred_contact_method, as: :select, collection: [['SMS','SMS'], ['EMAIL','EMAIL']] %></dd>
          
          <dt>Landline <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Some people have a landline that can't receive texts. Or maybe they like to get calls at night on their landline.",
          title: 'popover',
          original_title:"Landline"} %><dt>
          <dd><%= best_in_place @person, :landline %></dd>
          <dt>Postal Code</dt>
          <dd><%= best_in_place @person, :postal_code %></dd>
          <dt>Neighborhood <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Usually a guess based on zip code. Please update!",
          title: 'popover',
          original_title:"Neighborhood"} %></dt>
          <dd><%= best_in_place @person, :neighborhood %></dd>
          <dt>Referred by?</dt>
          <dd><%= best_in_place @person, :referred_by %></dd>
          <% if current_user.admin? %>
          <!-- <dt>Active?<dt>
          <dd><%= best_in_place @person, 
                    :active,
                    as: :checkbox,
                    collection: {false: "No", true: "Yes"} %></dd> -->
          <dt>Created by</dt>
            <% if @person&.creator.present? %>
              <dd><%= link_to @person.creator&.name, @person&.creator %></dd>
            <% else %>
              <dd>via website</dd>
            <% end %>
          <% end %>
          <dt>Signup at</dt>
          <dd><%= @person.signup_at ? @person.signup_at.to_s(:long) : 'unknown' %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <h3>Tags</h3>
        <ul id="tag-list">
        <%= render partial: 'taggings/tagging', collection: @person.taggings %>
        </ul>
        <%= render partial: 'taggings/tag_form', locals: {taggable_obj: @person}%>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class='row'>
      <h3>Location <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "A rough estimate based on zip code",
          title: 'popover',
          original_title:"Map"} %></h3>
      <div id="mapid"></div>
      <script>

      var mymap = L.map('mapid').setView([<%= @person.lat_long[:lat].to_f%>, <%= @person.lat_long[:long].to_f %>], 14);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 14,
        id: 'mapbox.streets',
        accessToken: '<%= ENV['MAPBOX_TOKEN'] %>'
      }).addTo(mymap);
      var marker = L.marker([<%= @person.lat_long[:lat].to_f%>, <%= @person.lat_long[:long].to_f %>]).addTo(mymap);
      marker.bindPopup("<b>Center of</b><br><%= @person.postal_code %> </br><%=@person.neighborhood%><br> <a href='/search/index_ransack?utf8=✓&q%5Bpostal_code_cont%5D=<%=@person.postal_code%>'>search nearby</a>").openPopup();
    </script>
    </div>
    <div class='row'>
      <div class='span6'>
        <h3> Research Sessions</h3>
        <%= render partial: 'research_sessions/mini_view',
            locals: {person: @person} %>
      </div>
    </div>
    <div class='row'>
      <div class='span6'>
        <h3>Pools</h3>
        <ul id='cart-list'>
        <% @person.carts.each do |cart| %>
          <li id='cart-<%= cart.id %>'>
            <% if current_user.carts.include?(cart) %>
              <%= link_to cart.name, cart_path(cart) %>: <%= cart.users.limit(5).map(&:name).join(", ")%><%= "..." if cart.users.size > 5 %>
            <% else %>
              <%= cart.name %>: <%= cart.users.limit(5).map(&:name).join(", ")%><%= "..." if cart.users.size > 5 %>
            <% end %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3>Notes</h3>
    <%= form_for([@person, @comment], remote: true) do |form| %>
      <%= form.hidden_field :commentable_type, :value => 'Person' %>
      <%= form.hidden_field :commentable_id, :value => @person.id %>
      <%= form.text_area :content, rows: 3, class: "span6 input-block-level" %>
      <%= form.submit 'Add note', :class => "btn" %>
      <%= content_tag :span,'?', class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "This is where to capture information that other people might want to know about what happened. Who had particularly good insight, what was it? etc. Markdown Friendly",
          title: 'popover',
          original_title:"Add Notes!"} %>
    <% end %>

    <div id="comments">
      <%= render partial: 'comments/embed',
            collection: @person.comments.order("created_at DESC"),
            as: :comment %>
    </div>
  </div>




  <div class="span12">
    <h3>Rewards - Total: <span id='gift_card_total'><%= humanized_money_with_symbol @person.rewards_total %></span></h3>
    <table class="table table-striped">
      <tr>
        <th>Reason</th>
        <th>For</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Date</th>
        <th colspan="2"></th>
      </tr>

      <tbody id="people_rewards">
        <%= render partial: 'people/reward', collection: @person.rewards.order("created_at DESC") %>
      </tbody>
    </table>
  </div>

</div>


<div class="row">
  <div class="form-actions span12">
    <%= link_to t('.back', default: t("helpers.links.back")),
                people_path, :class => 'btn'  %>
    <%= link_to t('.edit', default: t("helpers.links.edit")),
                edit_person_path(@person), :class => 'btn' %>
    <% if current_user.admin? %>
      <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                person_path(@person),
                method: 'delete',
                data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                class: 'btn btn-danger' %>
      <% if @person.active %> <!-- active or inactive? -->
      <%= link_to 'deactivate',
                deactivate_people_path(@person),
                method: :post,
                data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                :class => 'btn btn-danger' %>
      <% else %>
          <%= link_to 're-activate',
                reactivate_people_path(@person),
                method: :post,
                data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                :class => 'btn btn-danger' %>
      <% end %>
    <% end %> <!-- end admin -->
  </div>
</div>
