<%= form_for @research_session,
             url: research_sessions_path,
             method: :POST,
             remote: true,
             html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :people_ids, "People", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :people, class: 'tokenfield text_area',
                      style: 'border: 1px solid #cccccc; border-radius:5px;',
                      data: { search_url: '/search/index_ransack.json?q[nav_bar_search_cont]=%QUERY',
                              submit_id: '#people_ids',
                              pre_populate: @research_session.people_name_and_id.to_json} %>
      <%= f.hidden_field :people_ids, id: 'people_ids', value: @people_ids.to_s %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, 'Session title', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, 'Session description', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sms_description, 'SMS Session description', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :sms_description, :class => 'text_area' %>
    </div>
  </div>

  <h2>Time</h2>

  <div class="control-group">
    <%= f.label :start_datetime, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_field :start_datetime, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :end_datetime, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_field :end_datetime, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Send invitation', :class => 'btn btn-primary', :id => 'submit' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn' %>
  </div>
<% end %>
