<%= form_for @research_session,
             url: research_sessions_path,
             method: :POST,
             remote: false,
             html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :people, "People", :class => 'control-label' %>
    <div class="controls">
    <!--
      the cart adds person_ids here.
      adding a person doesn't remove them from the cart.
      use the cocoon stuff here and session edit too.
      cart should be in the session edit as well.
     -->
      <% f.fields_for :invitations do |inv| %>
        <%= render 'invitation_fields', f: inv %>
      <% end %>
      <%= link_to_add_association 'add person', f, :invitations,
          render_options: { wrapper: 'hidden' } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, 'Session title', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, 'Session description', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sms_description, 'SMS Session description', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :sms_description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tags,  "Tags", :class => 'control-label' %>
    <div class='controls'>
    <%= f.text_field :tag_list,
        class: 'tokenfield input span4',
        data: { search_url: '/taggings/search?type=ResearchSession&q=%QUERY',
                submit_id: 'search-tag-hidden-input',
                pre_populate: []
              }
      %>
    </div>
  </div>
  <h2>Time</h2>

  <div class="control-group">
    <%= f.label :start_datetime, :class => 'control-label' %>
    <div class="controls" style="position: relative">
      <%= f.text_field :start_datetime, :class => 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :end_datetime, :class => 'control-label' %>
    <div class="controls" style="position: relative">
      <%= f.text_field :end_datetime, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Send invitation', :class => 'btn btn-primary', :id => 'submit' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn' %>
  </div>
<% end %>
