<%= form_for @research_session,
             url: research_sessions_path,
             method: :POST,
             remote: false,
             html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :people, "People", :class => 'control-label' %>
    <div class="controls">
    <!--
      the cart adds person_ids here.
      adding a person doesn't remove them from the cart.
      use the cocoon stuff here and session edit too.
      cart should be in the session edit as well.
     -->
      <% f.fields_for :invitations do |inv| %>
        <%= render 'nested_invitation_fields', f: inv %>
      <% end %>
      <%= link_to_add_association 'add person',
            f, :invitations,
            render_options: { wrapper: 'hidden' },
            partial: 'nested_invitation_fields' %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :people, "Manage", :class => 'control-label' %>
      <div class="controls">
        <a href='#' id='add_all' class='btn btn-mini'>Add All</a>
        <a href='#' id='remove_all' class='btn btn-mini btn-danger'>Remove All</a>
      </div>
    </div>
  <div class="control-group">
  <%= f.label :user, :class =>'control-label' %>
    <div class="controls">
      <% users = User.all.map{|u| [u.name,u.id]} %>
      <%= f.select :user_id, options_for_select(users, current_user.id) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, 'Session Title',  :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, placeholder: 'short and descriptive', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, 'Session Location', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, placeholder: "leave empty for call", :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, 'Session description', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sms_description, 'SMS Session description', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :sms_description,placeholder:'as short as possible', :class => 'text_area' %>
    </div>
  </div>

  <h2>Time</h2>

  <div class="control-group" style="position: relative">
    <%= f.label :start_datetime, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_datetime, :class => 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Duration in minutes", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :duration, [15,30,45,60,75,90,105,130] %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Tags", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags,
                            class: 'tokenfield input-large span5',
                            data: { search_url: '/taggings/search?type=ResearchSession&q=%QUERY',
                                    submit_id: 'search-tag-hidden-input',
                                    pre_populate: @tags.to_json
                                  }
                          %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label "Send Invitations?", :class => 'control-label' %>
    <label class="controls toggle-check">
      <%= check_box :send_invites, 'boolean_attribute', {class: 'toggle-check-input hidden'}, 'true', 'false' %>
      <span class="toggle-check-text"></span>
    </label>
  </div>

  <div class="form-actions">
    <%= f.submit 'Create', class: 'btn btn-primary', id: 'submit', data: {confirm: "Are you sure?"} %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                people_path, class: 'btn' %>
  </div>
<% end %>
