<%= form_for @research_session,
             url: research_sessions_path,
             method: :POST,
             remote: false,
             html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :people, "People", :class => 'control-label' %>
    <div class="controls" id='people-store'>

    </div>
    <%= f.hidden_field :people_ids, multiple: true %>
  </div>
  <div class="control-group">
      <%= f.label :people, "Manage", :class => 'control-label' %>
      <div class="controls">
        <a href='#' id='add_all' class='btn btn-mini'>Add All</a>
        <a href='#' id='remove_all' class='btn btn-mini btn-danger'>Remove All</a>
      </div>
    </div>
 <% if current_user.admin? %>
  <div class="control-group">
  <%= f.label :user, :class =>'control-label' %>
    <div class="controls">
      <% users = User.where(approved: true).all.map{|u| [u.name,u.id]} %>
      <%= f.select :user_id, options_for_select(users, current_user.id) %>
    </div>
  </div>
  <% else %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <div class="control-group">
    <%= f.label :title, 'Session Title',  :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, placeholder: 'short and descriptive', :class => 'text_field' %>
      <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover",
          placement: "top",
          content: "User Testing session #4 is not useful nor informative. This is internal only, so use your own name,team name, and the purpose.",
          title: 'popover',
          original_title:"Informative title please!"} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, 'Session Location', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, placeholder: "leave empty for call", :class => 'text_field' %>
      <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover",
          placement: "top",
          content: "Where is this taking place? May be seen by DIG members",
          title: 'popover',
          original_title:"Location"} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, 'Session description', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
      <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover",
          placement: "top",
          content: "DIG members may see this, so keep it informative for them and for yourself",
          title: 'popover',
          original_title:"Description"} %>
    </div>
  </div>


  <h2>Time</h2>

  <div class="control-group" style="position: relative">
    <%= f.label :start_datetime, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_datetime, :class => 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Duration in minutes", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :duration, ResearchSession::DURATION_OPTIONS %>
      <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover",
          placement: "top",
          content: "usefull so we know how much h",
          title: 'popover',
          original_title:"Informative title please!"} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Tags", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags,
                            class: 'tokenfield input-large span3',
                            data: { search_url: '/taggings/search?type=ResearchSession&q=%QUERY',
                                    submit_id: 'search-tag-hidden-input',
                                    pre_populate: @tags.to_json
                                  }
                          %>
      <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover",
          placement: "top",
          content: "These are different than people tags. Use thises so we know why you had your session, what it was meant to learn, the topic, what you tested, etc.",
          title: 'popover',
          original_title:"Tag your sessions!"} %>
    </div>
  </div>

  <!--
  <div class="control-group">
    <%= f.label "Send Invitations?", :class => 'control-label' %>

   <label class="controls toggle-check">
      <%= check_box :send_invites, 'boolean_attribute', {class: 'toggle-check-input hidden'}, 'true', 'false' %>
      <span class="toggle-check-text"></span>
    </label>
  </div>
   -->
  <div class="form-actions">
    <%= f.submit 'Create', class: 'btn btn-primary', id: 'submit' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                people_path, class: 'btn' %>
  </div>
<% end %>
