<table class="table table-hover invitees" id='dynamic-invitation-panel' >
  <tbody>
    <tr>
      <th>Remove<%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Cannot remove someone with an assigned gift card. unassign the card and then delete.",
          title: 'Invitation State',
          original_title:"Assigned Gift Card"} %></th>
      <th>Name</th>
      <th>Phone</th>
      <th>Action <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "This is meant for you, personally, to track if you have invited people, have they confirmed, did they cancel or attend.",
          title: 'Invitation State',
          original_title:"Change the state of the invitation"} %></th>
      <th>Current State</th>
      <th>Rewards</th>
      <th>Add Cards</th>
    </tr>
    <% for invitation in @research_session.invitations.includes(:person) do %>
      <tr> <% person = Person.find(invitation.person_id) %>
        <td><%= link_to "X", 
                  research_session_remove_person_path(@research_session, person), 
                  remote: true, 
                  class: 'btn btn-danger btn-mini' %> </td>
        <td><%= link_to person.full_name, 
                person_path(person), 
                id: "person-#{person.id}" %></td>
        <td><%= number_to_phone(person.phone_number&.gsub('+1',''), area_code: true) %></td>
        <td id="<%= "invitation-#{invitation.id}-actions" %>">
          <%= render partial: 'invitations/actions', locals: {invitation: invitation} %>
        </td>
        <td><%= invitation.aasm_state %></td>
        <td id="<%= invitation.id %>-rewards-count">
          <%= invitation.rewards.size %>
        </td>
        <td>
        <%= link_to "+",
              modal_rewards_path(invitation.class.to_s, invitation.id),
                {:remote => true,
                  :id => "add-reward-#{invitation.id}",
                  'data-toggle' =>  "modal",
                  'data-target' => '#modal-window',
                  class: 'btn btn-mini'} %>
        </td>
      </tr>
    <% end if @research_session.invitations.size > 0 %>
  </tbody>
</table>
<div id="modal-window" class="modal hide" role="dialog" aria-labelledby="GiftCardModal" aria-hidden="true"></div>
