<%= render :partial => 'layouts/research_sessions_menu' %>

<% content_for :page_title, @research_session.title %>
<script>
var research_session_id = <%= @research_session.id%>;
</script>
<div class="page-header">
  <h1><%= @research_session.title %></h1>
</div>

<div class="row">
  <div class="span3">
    <%= simple_format @research_session.description %>
  </div>
  <!-- http://stackoverflow.com/questions/10539143/reloading-partial-in-an-rails-app -->
  <div class="span6">
    <h3>Invitees</h3>
    <input id='invitees-typeahead' type="text" placeholder="People Search">
    <%= render partial: 'invitations_panel',
          locals: { invitations: @research_session.invitations } %>
  </div>
  <div class="row">
      <div class="span6">
        <h3>Tags</h3>
        <ul id="tag-list">
        <%= render partial: 'taggings/tagging', collection: @research_session.taggings %>
        </ul>
        <%= render partial: 'taggings/tag_form', locals: { taggable_obj: @research_session } %>
      </div>
  </div>
  <div class="span3">
    <div class="well">
      <dl>
        <dt>Starts at</dt>
        <dd><%= @research_session.start_datetime %></dd>
        <dt>Ends at</dt>
        <dd><%= @research_session.end_datetime %></dd>
        <dt>Creator</dt>
        <dd><%= @research_session.user.name %></dd>
        <dt>Invited</dt>
        <dd><%= @research_session.invitations.size %></dd>
        <dt>Reserved</dt>
        <dd><%= @research_session.invitations.size %></p>
      </dl>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <!-- should link back to all research_sessions or somesuch here. -->
  </div>
</div>
