<%= render :partial => 'layouts/research_sessions_menu' %>

<% content_for :page_title, @research_session.title %>

<div class="page-header">
  <h1><%= @research_session.title %></h1>
</div>

<div class="row">
  <div class="span3">
    <%= simple_format @research_session.description %>
  </div>
  <div class="span6">
    <h3>Invitees</h3>
    <% if @research_session.invitations.any? %>
    <table class="table table-hover">
      <tbody>
        <tr><th>Name</th><th>Status</th><th>Attended</th></tr>
        <% for invitation in @research_session.invitations.includes(:person) do %>
          <tr>
          <td><%= invitation.person.full_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% else %>
    <p>No attendees yet</p>
    <% end %>
  </div>
  <div class="row">
      <div class="span6">
        <h3>Tags</h3>
        <ul id="tag-list">
        <%= render partial: 'taggings/tagging', collection: @research_session.taggings %>
        </ul>
        <%= render partial: 'taggings/tag_form', locals: { taggable_obj: @research_session } %>
      </div>
  </div>
  <div class="span3">
    <div class="well">
      <dl>
        <dt>Starts at</dt>
        <dd><%= @research_session.start_datetime %></dd>
        <dt>Ends at</dt>
        <dd><%= @research_session.end_datetime %></dd>
        <dt>Creator</dt>
        <dd><%= @research_session.user.name %></dd>
        <dt>Invited</dt>
        <dd><%= @research_session.invitations.size %></dd>
        <dt>Reserved</dt>
        <dd><%= @research_session.invitations.size %></p>
      </dl>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <!-- should link back to all research_sessions or somesuch here. -->
  </div>
</div>
