<%= render :partial => 'layouts/research_sessions_menu' %>

<% content_for :page_title, @research_session.title %>
<script>
research_session_id = <%= @research_session.id%>;
</script>
<div class="page-header">
  <h1>
    <%= best_in_place_if current_user.admin?,
          @research_session, 
          :title, 
          ok_button: 'Save', 
          cancel_button: 'Cancel',
          as: :textarea %>
  </h1>
</div>
<div class="row">
  <div class="span4">
    <div class="well">
      <dl>
        <dt>Clone</dt>
        <dd><%= link_to I18n.t("research_session.clone_btn"), research_session_clone_path(@research_session), class:'btn btn-small' %></dd>
        <dt>Description</dt>

        <dd><%= best_in_place @research_session, :description %>
        <!-- <dt>SMS Description</dt>
        <dd><%= @research_session.sms_description %> -->
        <dt>Location</dt>
        <dd><%= best_in_place @research_session, :location %>
        <dt>Starts at</dt>
        <dd>
          <%= best_in_place @research_session, :start_datetime, type: :input, :display_with => Proc.new { |f| f.to_s :short } %>
        </dd>
        <dt>Ends at</dt>
        <dd><%= best_in_place @research_session, :end_datetime, type: :input, :display_with => Proc.new { |f| f.to_s :short } %></dd>
        <dt>Duration</dt>
        <dd><%= @research_session.duration %> minutes</dd>
        <dt>Creator</dt>
        <% if current_user.admin? %>
        <% users = User.where(approved: true).all.inject({}){|acc,el| acc[el.id] = el.name; acc} %>
        <dd><%= best_in_place @research_session, :user_id, as: :select, collection: users, value: @research_session.user.id %></dd>
        <% else %>
        <dd><%= @research_session.user.name %></dd>
        <% end %>
        <dt>Invited</dt>
        <dd><%= @research_session.invitations.size %></dd>
        <dt>Attended</dt>
        <dd><%= @research_session.invitations.where(aasm_state:'attended').size %></p>
        <% if @research_session.people.size > 0 %>
        <dt>Add to Pool: <span class='current_cart'><%= current_cart.name %></span></dt>
        <dd><%= link_to "Add all to pool", add_person_cart_index_path(@research_session.people.map(&:id)), remote: true, class: 'btn' %></dd>
        <% end %>
      </dl>
    </div>
    <h3>Tags</h3>
    <ul id="tag-list">
    <%= render partial: 'taggings/tagging', collection: @research_session.taggings %>
    </ul>
    <%= render partial: 'taggings/tag_form', locals: { taggable_obj: @research_session } %>
    <h3>Notes&nbsp;<%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Markdown friendly: https://daringfireball.net/projects/markdown/",
          title: 'popover',
          original_title:"Markdown"} %></h3>
    <%= form_for([@research_session, Comment.new], remote: true) do |form| %>
      <%= form.hidden_field :commentable_type, :value => 'ResearchSession' %>
      <%= form.hidden_field :commentable_id, :value => @research_session.id %>
      <%= form.text_area :content, rows: 6, class: "span4 input-block-level" %>
      <%= form.submit 'Add note', :class => "btn" %>
      <%= content_tag :span,'?', class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "This is where to capture information that other people might want to know about what happened. Who had particularly good insight, what was it? etc. Markdown Friendly",
          title: 'popover',
          original_title:"Add Notes!"} %>
    <% end %>

    <div id="comments">
      <%= render partial: 'comments/embed',
            collection: @research_session.comments.order("created_at DESC"),
            as: :comment %>
    </div>
  </div>
  <!-- http://stackoverflow.com/questions/10539143/reloading-partial-in-an-rails-app -->
  <div class="span8">
    <h3>Invitees</h3>
    <input id='invitees-typeahead' type="text" placeholder="People Search">
    <%= render partial: 'invitations_panel',
          locals: { invitations: @research_session.invitations } %>

    <%= render partial: 'cart/mini_view', locals: {
        people: current_cart.people,
        current_session: @research_session
        } %>
  </div>

</div>


<div class="row">
  <div class="span12">
    <%= link_to "Sessions", "/sessions", class: 'btn btn-default '%>
    <%= link_to "Back", :back, class: 'btn'%>
  </div>
</div>
