<%= render partial: 'layouts/admin_menu' %>
<div class='row'>

  <div class='well'>
    <dl >
      <dt>Money in Budget</dt>
      <dd id='budget_amount_<%= @budget.id %>'><%= humanized_money_with_symbol @budget.amount %></dd>
    </dl>
  </div>
  <div id='error_explanation' style="display: none;"></div>
  

  <div class='span12'>
    <h5> transactions</h5>
    <table class='table table-striped'>
      <thead>
        <th>id</th>
        <th>Amount</th>
        <th>user</th>
        <th>From</th>
        <th>Recipient</th>
        <th>Type</th>
      </thead>
      <tbody id='transaction_logs'>
        <% @budget.transactions.each do |trans| %>
        <tr id='transaction_log_<%=trans.id %>'>
          <td><%= trans.id %></td>
          <td><%= humanized_money_with_symbol trans.amount %></td>
          <td><%= link_to trans.user.name, trans.user %></td>
          <td><%= link_to trans.from_type, trans.from %></td>
          <td><%= link_to trans.recipient_type, trans.recipient %></td>
          <td><%= trans.transaction_type %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
