<tr class="reward" id="reward-<%= reward.id %>">
    <td><%= reward.user.name %></td>
    <td><%= link_to(reward.rewardable.class, reward.rewardable) %></td>
    <td><%= case reward.rewardable.class.to_s
        when 'GiftCard'
            "Seq ##{reward.rewardable.sequence_number}"
        when 'DigitalGift'
            link_to "get link", reward.rewardable
        when 'CashCard'
           reward.rewardable.notes
       end
    %>        
    </td>
    <td><%= humanized_money_with_symbol reward.amount %></td>
    <td><%= link_to 'Show', reward %></td>
    <td><%= link_to 'Edit', edit_reward_path(reward) %></td>
    <!-- Can't delete a digital gift -->
    <% if reward.rewardable_type != 'DigitalGift' %>
    <% remove_text = reward.rewardable.present? ? 'Unassign' : 'Destroy' %>
    <td><%= link_to remove_text, reward, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</tr>
