<%= render :partial => 'layouts/reward_menu' %>
<%= will_paginate @recent_signups, :renderer => BootstrapPagination::Rails %>
<h1>Recent sign-ups who need gift cards</h1>
<%= search_form_for @q_recent_signups, as: :q_signups, url: recent_signups_rewards_path, method: :get, class: 'form-inline' do |f_rs| %>
<label for='created_at_date_gteq'>People created on or after</label>
<%= f_rs.text_field :created_at_date_gteq, class: 'text_field input-small', id: 'datepicker_start', placeholder: 'yyyy-mm-dd' %>
<%= f_rs.submit 'Search', class: "btn btn-primary" %>
<%= link_to 'Clear Search', request.path, class:"btn" %>
<% end %>
<div id="error-div"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Person ID</th>
      <th>Verified</th>
      <th>Name</th>
      <th>Address</th>
      <th>Batch</th>
      <th>Sequence</th>
      <th>Card Number</th>
      <th>Expiration Date</th>
      <th>Amount</th>
      <th>Mailed?</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @new_rewards.each_with_index do |reward, index| %>
      <tr>
        <%= form_for([@recent_signups[index], reward], remote: true) do |form| %>
            <% if reward.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h2>
                <ul>
                <% reward.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <td rowspan=2>
              <%= form.text_field :person_id, :value => @recent_signups[index].id, :readonly => true, :class => "span1" %>
            </td>
            <td>
              <%= @recent_signups[index].verified %>
            </td>
            <td>
              <%= @recent_signups[index].full_name %>
            </td>
            <td>
              <%= @recent_signups[index].address_fields_to_sentence %>
            </td>
            <td id="new-batchid-<%= @recent_signups[index].id %>">
              <%= form.text_field :batch_id, class: 'input-small', :placeholder => "Batch ID"  %>
            </td>
            <td id="new-sequencenumber-<%= @recent_signups[index].id %>">
              <%= form.text_field :sequence_number, class: 'input-mini sequence-number', :placeholder => "Sequence #"  %>
            </td>
            <td id="new-cardnumber-<%= @recent_signups[index].id %>" class='input-prepend'>
              <span class='add-on'>****-****-***</span>
              <%= form.text_field :reward_number,class: 'input-small batch-id', :placeholder => "#####"  %>
            </td>
            <td id="new-expirationdate-<%= @recent_signups[index].id %>">
              <%= form.text_field :expiration_date, class: 'input-mini gift-card-expiration-date',:placeholder => "MM/YY" %>
            </td>
            <td>
              <%= form.text_field :amount, :value => "5.00", :readonly => true, :class => "span1" %>
              </td>
            <%= form.hidden_field :reason, value: "signup" %>

            <td id="new-submit-<%= @recent_signups[index].id %>"><%= form.submit 'Add Gift Card', :class => "btn" %></td>
        <% end %>
      </tr>
      <tr>
        <td colspan=6>
          <% @recent_signups[index].possible_duplicates.each do |key, val| %>
            Possible Duplicate ID #<%= link_to "#{key} #{val['person'].full_name}", person_path(val['person']) %> Matching on <%= val['match_count'] %> variables: <%= val['matches_on'].to_sentence %>
            <br />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
