<%= render partial: 'layouts/admin_menu' %>
<div class='row'>
  <div class='span12'>
  <h3>Recent actions</h3>
  <%= will_paginate @changes,
          remote: true,
          renderer: BootstrapPagination::Rails %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="1">ChangeId</th>
          <th colspan="1">Type</th>
          <th colspan="1">User</th>
          <th colspan="1">Object</th>
          <th colspan="1">event</th>
          <th colspan="4">changes</th>
        </tr>
      </thead>

      <tbody>
        <% @changes.each do |change| %>
        <tr>
          <td><%= change.id %></td>
          <td><%= change.item_type %></td>
          <td><%= link_to(User.find(change.whodunnit).name, user_path(change.whodunnit)) if change&.whodunnit&.class == 'User' %></td>
          <td><%=
            begin
              link_to(find_name(change.item), url_for(change.item))
            rescue NameError
              "none"
            end
          %></td>
          <td><%= change.event %></td>
          <td>
          <%=raw ap JSON.parse(change.object_changes), html: true if change.object_changes %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @changes,
          remote: true,
          renderer: BootstrapPagination::Rails %>
  </div>
</div>
