<%= render partial: 'layouts/admin_menu' %>
<div class='row'>
  <div class='span12'>
  <h3>Finance Codes</h3>
    <dl class='dl-horizontal'>
      <dt>Start Date</dt>
      <dd><%= @start_date.to_date %></dd>
      <dt>End Date</dt>
      <dd><%= @end_date.to_date %></dd>
      <dt>Sum</dt>
      <dd><%= humanized_money_with_symbol @results.sum{|c| c[:amount]} %></dd>
    </dl>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="1">Code</th>
          <th colspan="1">Count</th>
          <th colspan="1">Amount</th>
        </tr>
      </thead>

      <tbody>
        <% @results.each do |code| %>
        <tr id="finance-code-<%= code[:code] %>">
          <% q_param = {finance_code_eq:code[:code],created_at_date_gteq:@start_date.to_date, created_at_date_lteq: @end_date.to_date} %>
          <td><%= link_to code[:code], rewards_path(q:q_param) %></td>
          <td class="finance-code__code"><%= code[:count] %></td>
          <td class="finance-code__amount"><%= humanized_money_with_symbol code[:amount] %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
