<%= render partial: 'layouts/admin_menu' %>
<h1>Listing Users</h1>
  <%= will_paginate @users,
          remote: true,
          renderer: BootstrapPagination::Rails %>
<div class="row">
  <div class="span12">
    <table class="table table-striped" id='users-table'>
      <thead>
        <tr>
          <th colspan="1">name</th>
          <th colspan="1">email</th>
          <th colspan="1">phone</th>
          <th colspan="1">approved</th>
          <th colspan="1">team</th>
          <th colspan="1">$ YTD</th>
          <th colspan="2">actions</th>
        </tr>
      </thead>

      <tbody>
        <% teams = Team.all.inject({}){ |acc,el|
                        acc[el.id]=el.name
                        acc
                      } %>
        <% @users.each do |user| %>
          <tr id="user-<%= user.id %>">
            <td><%= link_to user.name, user %></td>
            <td><%= best_in_place user, :email_address,
                      ok_button: 'Save',
                      cancel_button: 'Cancel' %></td>
            <td><%= best_in_place user, :phone_number,
                      ok_button: 'Save',
                      cancel_button: 'Cancel' %></td>
            <td><%= best_in_place user,
                      :approved,
                      as: :checkbox,
                      collection: {false: "No", true: "Yes"} %></td>
            <td><%= best_in_place user, :team_id,
                      as: :select,
                      collection: teams ,
                      ok_button: 'Save',
                      cancel_button: 'Cancel' %></td>
            <td><%= user.rewards_total %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class='row'>
  <div class='span12'>
    <%= link_to 'New User', new_user_path, class: 'btn' %>
  </div>
</div>
