  <tr id='gift-card-<%= gift_card.id %>'
      data-sequence-number='<%= gift_card.sequence_number%>'
      data-last-4='<%= gift_card.sequence_number.to_s %>'
      data-user-name='<%= gift_card.user.name %>'
      class='well well-small gift-card'>
    <td class='batch_id'>
      <%= gift_card.batch_id %>
    </td>
    <td class='last_4'>
      <%= gift_card.last_4 %>
    </td>
    <td class='sequence_number'>
      <%= gift_card.sequence_number %>
    </td>
    <td class='amount'>
      <%= gift_card.amount %>
    </td>
    <% if current_user.admin? %>
    <td>
      <%= gift_card.user.name %>
    </td>
    <% end %>
    <td>
      <%= select_tag :reason,  options_for_select(Reward.reasons.keys.to_a,'interview'),
                      { class: 'input-small',
                        id: "reward-reason-#{gift_card.id}" }
        %>
    </td>
    <td>
      <%= button_tag "Add",
            data:{
              rewardable_type: 'GiftCard',
              rewardable_id: gift_card.id
            },
            id: "add-reward-#{gift_card.id}",
            class: 'add-reward' ,
            onclick: "add_reward(this);"  %>
    </td>
  </tr>
