  <tr id='gift-card-<%= gift_card.id %>' 
      class='well well-small gift-card' 
      data-id='<%=gift_card.id%>' 
      data-amount='<%= gift_card.amount %>'
    <td class='batch_id'>
      <%= gift_card.batch_id %>
    </td>
    <td class='last_4'>
      <%= gift_card.last_4 %>
    </td>
    <td class='sequence_number'>
      <%= gift_card.sequence_number %>
    </td>
    <td class='amount'>
      <%= gift_card.amount %>
    </td>
    <% if current_user.admin? %>
    <td>
      <%= gift_card.user.name %>
    </td>
    <% end %>
    <td>
      <%= select_tag :reason,  options_for_select(Reward.reasons.keys.to_a,'interview'),
                      { class: 'input-small',
                        id: "reward-reason-#{gift_card.id}" }
        %>
    </td>
    <td>
      <%= button_tag "Add",
            data:{
              amount: gift_card.amount,
              giftable_type: 'GiftCard',
              giftable_id: gift_card.id
            },
            id: "add-reward-#{gift_card.id}",
            class: 'add-reward' ,
            onclick: "add_reward(this);"  %>
    </td>
  </tr>
