<%= form_for([@person, @gift_card], remote: true) do |form| %>
      <% if @gift_card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gift_card.errors.count, "error") %> prohibited this gift_card from being saved:</h2>

          <ul>
          <% @gift_card.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= form.hidden_field :person_id, :value => @person.id %>
      <%= form.select :reason,
              GiftCard.reasons.keys.to_a,
              { prompt: "Reason", selected: @last_gift_card.reason },
                class: 'input-small',
                id: "new-reason"
               %>

      <%= form.text_field :notes,
            placeholder: 'Notes',
            class: 'input-medium',
            id: 'new-notes' %>
      <%= form.text_field :proxy_id,
              placeholder: "ProxyID",
              class: 'input-mini',
              id: "new-proxyid" %>
      <%= form.text_field :batch_id,
              placeholder: "BatchID",
              class: 'input-mini',
              id: "new-batchid",
              value: @last_gift_card.batch_id %>
      <div class='input-prepend'>
        <span class='add-on'>****-****-***</span>
        <%= form.text_field :gift_card_number, placeholder: "#####", class: 'input-small', id: "new-cardnumber" %>
      </div>
      <%= form.text_field :expiration_date,
              placeholder: "MM/YY",
              class: 'input-mini',
              id: "new-expirationdate",
              value: @last_gift_card.expiration_date %>
      <%= form.text_field :amount,
              value: @last_gift_card.amount,
              placeholder: "####",
              class: 'input-small',
              id: "new-amount" %>
      <%= form.submit 'Add Gift Card', :class => "btn" %>
    <% end %>
  </div>
