<tr class="gift-card" id="gift_card-<%= gift_card.id %>">
    <td><%= best_in_place gift_card, :gift_card_number %></td>
    <td><%= best_in_place gift_card, :sequence_number %></td>
    <td><%= best_in_place gift_card, :batch_id %></td>
    <td><%= humanized_money_with_symbol gift_card.amount %></td>
    <td><%= link_to 'Show', gift_card %></td>
    <td><%= link_to 'Edit', edit_gift_card_path(gift_card) %></td>
    <% remove_text = gift_card.card_activation.present? ? 'Unassign' : 'Destroy' %>
    <td><%= link_to remove_text, gift_card, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
