<%= render :partial => 'layouts/gift_card_menu' %>

<h1>Listing Gift Cards</h1>
 <div class='span12'>

  <%= search_form_for @q_giftcards, url: gift_cards_path, method: :get, class: 'form-inline' do |f| %>
    <%= f.label :gift_card_number_cont %>
    <%= f.search_field :gift_card_number_cont, class: 'input-mini' %>
    <label for='created_at_date_gteq'>Created on or after</label>
    <%= f.text_field :created_at_date_gteq, class: 'text_field input-small', id: 'datepicker_start', placeholder: 'yyyy-mm-dd' %>
    <label for='created_at_date_lteq'>Created on or before</label>
    <%= f.text_field :created_at_date_lteq, class: 'text_field input-small', id: 'datepicker_end', placeholder: 'yyyy-mm-dd'  %>
    <%= f.submit 'Search', class: "btn btn-primary" %>
    <%= link_to 'Clear Search', request.path, class:"btn" %>
  <% end %>
  </div>
<%= will_paginate @gift_cards, :renderer => BootstrapPagination::Rails %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Gift Card ID</th>
      <th>Person ID</th>
      <th>Name</th>
      <th>Reason</th>
      <th>Giftable Object</th>
      <th>Batch</th>
      <th>Proxy ID</th>
      <th>Card Number</th>
      <th>Expiration Date</th>
      <th>Amount</th>
      <th>Created On</th>
      <th>Edit?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="gift_cards">
    <% @gift_cards.each do |gift_card| %>
      <tr id="gift_card-<%= gift_card.id%>">
        <td><%= gift_card.id %></td>
        <td><%= gift_card.person_id %></td>
        <td><%= link_to "#{gift_card.person.full_name}", person_path(gift_card.person) %></td>
        <td><%= gift_card.reason.titleize %></td>
        <td><%= if gift_card.giftable.present?
                  link_to(find_name(gift_card.giftable), url_for(gift_card.giftable))
                else
                  "None"
                end
        %></td>
        <td><%= gift_card.batch_id %></td>
        <td><%= gift_card.proxy_id %></td>
        <td><%= gift_card.gift_card_number %></td>
        <td><%= gift_card.expiration_date %></td>
        <td><%= humanized_money_with_symbol gift_card.amount %></td>
        <td><%= gift_card.created_at.strftime('%m/%d/%Y') %></td>
        <td><%= link_to 'Show', gift_card %></td>
        <td><%= link_to 'Edit', edit_gift_card_path(gift_card) %></td>
        <td><%= link_to 'Destroy', gift_card, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Save this list as CSV", gift_cards_path(params.merge(format: 'csv')), :class => "btn"  %>
<%= link_to 'New Gift card', new_gift_card_path %>
