<%= render :partial => 'layouts/reward_menu' %>
<style>
table tr {
  padding-bottom: 1em !important;
}
</style>
<div id='errors'>
  <% if @errored_cards.present? %>
    <ul>
      <% @errored_cards.each do |errored_card| %>
        <% errored_card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>


<div class='container'>
<% if @preloaded_cards.present? %>
<h1>Activate Cards <span id='activate-toggle-right' class='icon-caret-right activate-toggle'></span><span id='activate-toggle-down' class='icon-caret-down activate-toggle' style='display:none'></span> </h1>
<!--
<%= link_to "Upload Cards", "#modal-window", :class => "btn btn-default", "data-toggle" => "modal" %>
-->

  <div class='row' style='display: none;' id='manual_card'>
    <div class='span12'>
    <%= form_tag gift_cards_path do %>
      <table>
        <thead>
          <tr>
            <th>Sequence&nbsp;<%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "It's a number that increments for each card, likely between 1 and 500. usually a bunch of leading zeros, and it's the first number in the upper right hand corner of the clear plastic window of the envelope.",
          title: 'popover',
          original_title:"Sequence Number"} %></th>
            <th>Full Card #</th>
            <th>Secure&nbsp;Code</th>
            <th>Exp Date</th>
            <th>Amount</th>
            
            <th>Batch ID&nbsp;<%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "It is a number that stays the same for the whole batch of cards, fairly long, and is the last number on the right in the plastic window above where it says -Robin Hood Foundation-",
          title: 'popover',
          original_title:"Sequence Number"} %></th>
            <th><!-- <span class='badge badge-success' id='add-gift-card-row'>+</span>--></th>
          </tr>
        </thead>
      
        <tbody>
          <% @preloaded_cards.each do |pr_card| %>
          <tr class='new_card'>
            <td>
              <%= text_field_tag 'new_gift_cards[][sequence_number]',
                    pr_card.sequence_number,
                    {placeholder:'Sequence',
                    disabled: true,
                    class: 'input-mini',
                    'data-mask':'999'} %>
            </td>
            <td>
              <%= text_field_tag 'new_gift_cards[][full_card_number]',
                    '',
                    {class:'full-card-number',
                    placeholder:'Full Card Number',
                    'data-mask': '9999-9999-9999-9999'}%>
            </td>
            <td>
              <%= text_field_tag 'new_gift_cards[][secure_code]', 
                    '',
                    {placeholder: 'Secure Code',
                    class: 'input-mini',
                    'data-mask': '999'} %>
            </td>
            <td>
              <%= text_field_tag 'new_gift_cards[][expiration_date]',
                    pr_card.expiration_date,
                    disabled: true,
                    placeholder: 'MM/YY', 
                    class: 'input-mini',
                    'data-mask': '00/00' %>
            </td>
            <td>
              <%= text_field_tag 'new_gift_cards[][amount]',
                    pr_card.amount,  
                    {placeholder: '$25.00', 
                    disabled: true,
                    class: 'input-mini',
                    'data-mask': '$999.99'} %>
            </td>
            
            <td>
              <%= text_field_tag 'new_gift_cards[][batch_id]', 
                    pr_card.batch_id,
                    {placeholder: 'Batch ID',
                    disabled: true,
                    class: 'input-mini',
                    'data-mask':'999999'} %>
            </td>
            <td>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= submit_tag "Activate",{ 
          id: 'activate-button',
          class: 'btn',
          disabled: true} %>
    <% end %>
    </div>
  </div>
  <% end %>
  <div class='row'>
    <div class='span12'>
      <hr>
    </div>
  </div>
  <div class='row'>
    <div class='span6'>
      <h2>Unassigned Cards <span class='badge' id='active-unassigned-cards-count'><%=@cards.size%></span></h2>
      <% if current_user.admin? %>
      <%= select_tag :user_id,
            options_from_collection_for_select(User.approved.all,
                                          'id',
                                          'name'),
            class: 'input',
            prompt: 'Bulk Assign To:', 
            id: 'select_user_for_cards',
            onchange: 'assign_cards_to_user()' %>

      <% end %>
    </div>
    <div class='span6'>
      <div class="input-group">
        <input type="text" id='card-search' class="form-control has-clear" placeholder="Filter by Sequence">
        <span class="input-group-btn form-control-clear">
          <button class="btn btn-secondary" type="button">Clear</button>
        </span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='span12'>
      <table class="table">
        <thead>
          <tr>
            <th colspan="1">Last 4</th>
            <th colspan="1" id='batch-title'>Batch</th>
            <th colspan="1" id='sequence-title'>Sequence</th>
            <th colspan="1">Amount</th>
            <th colspan="1">Status</th>
            <th colspan="1">Re-Run Check <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Sometimes, this process fails, even though the card is good, and may in fact be activated. If this isn't working, ping KT or Bill on slack",
          title: 'popover',
          original_title:"Check Cards"} %></th>
            <% if current_user.admin? %>
            <th colspan='1' id='user-title'>User</th>
            <th colspan='3'><input type='checkbox' id='card-all'></input>&nbsp;Admin&nbsp;<span class='badge' id='checkedcount'>0</span></th>
            <% end %>
          </tr>
        </thead>

        <tbody id='gift-cards-large' class='assigned'> 
          <!-- should be partials below for reuse -->
          <%= render partial: "single_gift_card",
                     collection: @gift_cards, 
                     as: :gift_card, locals: { approved_users: User.approved.all } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>

<div id="modal-window" class="modal hide" role="dialog" aria-labelledby="GiftCardUploadModal" aria-hidden="true">
  <div id="gift-card-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Upload Cards to Activate</h3>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="span4">
            <%= form_with url: upload_gift_cards_path do |form| %>
              <%= form.file_field :file %>
              <%= form.submit "Upload", {class:'btn btn-primary'} %>
            <% end %>
          </div>
          <div class="span1">
            <!-- format: :csv wasn't working below... -->
            <%= link_to 'Download Template',
                  '/gift_cards/template.xlsx',
                  class: 'btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>
