<%= render :partial => 'layouts/admin_menu' %>
<style>
table tr {
  padding-bottom: 1em !important;
}
</style>
<div id='errors'>
  <% if @errored_cards.present? %>
    <ul>
      <% @errored_cards.each do |errored_card| %>
        <% errored_card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
<h1>Preload a batch</h1>
<div class='container'>
  <div class='row preload-cards'>
    <%= form_tag preload_gift_cards_path do %>
      <%= number_field_tag :seq_start, {in: (1..499), step:1} %>
      <%= number_field_tag :seq_end, { in: (2..500), step:1} %>
      <%= text_field_tag :batch_id,nil,{
                          placeholder: 'Batch ID',
                          class: 'input-mini',
                          'data-mask':'999999'} %>
      <%= text_field_tag :expiration_date,nil, 
                         {placeholder: 'MM/YY', 
                         class: 'input-mini',
                         'data-mask': '00/00'} %>
       <%= text_field_tag :amount,nil,
                          {placeholder: '$25.00', 
                          class: 'input-mini',
                          'data-mask': '$999.99'} %>
       <%= submit_tag "Preload",{ 
                      id: 'preload-button',
                      class: 'btn'} %>
    <% end %>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='span1'>
      <hr>
    </div>
  </div>
  <div class='row'>
    <div class='span6'>
      <h2>Preloaded Cards <span class='badge' id='active-unassigned-cards-count'><%=@preloaded_cards.size%></span></h2>
      
      <%= select_tag :user_id,
            options_from_collection_for_select(User.approved.all,
                                          'id',
                                          'name'),
            class: 'input',
            prompt: 'Bulk Assign To:', 
            id: 'select_user_for_cards',
            onchange: 'assign_cards_to_user()' %>

      
    </div>
    <div class='span6'>
      <div class="input-group">
        <%= number_field_tag :low_seq, @low_seq, {min: @low_seq,max: @high_seq, class:'form-control has-clear preload-filter input-mini'} 

        %>
        ->
        <%= number_field_tag :high_seq, @high_seq, {min: @low_seq,max: @high_seq, class:'form-control has-clear preload-filter input-mini'} 

        %>
        <%= select_tag :batch_id,
              options_from_collection_for_select(GiftCard.unscoped.preloaded.distinct.pluck(:batch_id),'to_i','to_i'),
              class: 'input',
              include_blank:'All Batches',
              id: 'batch-id-filter'%>
         <%= select_tag :user_id,
              options_from_collection_for_select(User.approved.all,
                                          'id',
                                          'name'),
              class: 'input',
              include_blank:'All Users', 
              id: 'preload-user-filter'%>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='span12'>
      <table class="table">
        <thead>
          <tr>
            <th colspan="1">Last 4</th>
            <th colspan="1">Batch</th>
            <th colspan="1" id='sequence-title'>Sequence</th>
            <th colspan="1">Amount</th>
            <th colspan="1">Status</th>
            <th colspan="1">Re-Run Check <%= content_tag :span,'?',class: 'badge', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Sometimes, this process fails, even though the card is good, and may in fact be activated. If this isn't working, ping KT or Bill on slack",
          title: 'popover',
          original_title:"Check Cards"} %></th>
            <% if current_user.admin? %>
            <th colspan='1' id='user-title'>User</th>
            <th colspan='3'><input type='checkbox' id='card-all'></input>&nbsp;Admin&nbsp;<span class='badge' id='checkedcount'>0</span></th>
            <% end %>
          </tr>
        </thead>

        <tbody id='gift-cards-large' class='preload'> 
          <!-- should be partials below for reuse -->
          <%= render partial: "single_gift_card",
                     collection: @preloaded_cards, 
                     as: :gift_card,
                     locals: {approved_users: User.approved.all}
                     %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
