<p id="notice"><%= notice %></p>

<p>
  <strong>Gift Card Number:</strong>
  <%= @gift_card.gift_card_number %>
</p>

<p>
  <strong>Batch ID:</strong>
  <%= @gift_card.batch_id %>
</p>

<p>
  <strong>Proxy/Sequence:</strong>
  <%= @gift_card.proxy_id %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @gift_card.expiration_date %>
</p>

<p>
  <strong>Person:</strong>
  <%= link_to @gift_card.person.full_name, @gift_card.person %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @gift_card.notes %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @gift_card.user.email_address %>
</p>

<p>
  <strong>Team:</strong>
  <%= best_in_place @gift_card, :team_id,
                      as: :select,
                      collection: Team.all.inject({}){ |acc,el|
                        acc[el.id]=el.name
                        acc
                      },
                      ok_button: 'Save',
                      cancel_button: 'Cancel' %></dd>
</p>

<p>
  <strong>Finance Code:</strong>
  <%= best_in_place @gift_card, :finance_code,
                      as: :select,
                      collection: { 'BRL'=> 'BRL',
                                    'CATA'=>'CATA',
                                    'FELL'=>'FELL'},
                      ok_button: 'Save',
                      cancel_button: 'Cancel' %></dd>
</p>

<p>
  <strong>Reason:</strong>
  <%= @gift_card.reason %>
</p>

<%= link_to 'Edit', edit_gift_card_path(@gift_card) %> |
<%= link_to 'Back', :back %>
