<!-- do we even need this? perhaps this should just exit in the modal -->
<%= form_with(model: digital_gift, local: true) do |form| %>
  <% if digital_gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(digital_gift.errors.count, "error") %> prohibited this digital_gift from being saved:</h2>

      <ul>
      <% digital_gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= form.label :amount, class: 'control-label' %>
    <div class="controls">
      <%= form.text_field :amount, class: 'text_field', placeholder: '$00.00' %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
