<tr id='digital-gift-<%=digital_gift.id%>' 
  class='well well-small digital-gift <%= cycle('dark', 'light') %>'
  data-user-name='<%= digital_gift.user.name %>'
  data-id='<%=digital_gift.id%>' >
  <td><%= digital_gift.order_id %></td>
  <td><%= humanized_money_with_symbol digital_gift.amount %></td>
  <td><%= digital_gift.aasm_state %></td>
  <td><%= digital_gift.campaign_title %></td>
  <td><%= digital_gift.link %></td>
</tr>
