<%= render :partial => 'layouts/reward_menu' %>
<p id="notice"><%= notice %></p>

<h1>Digital Gifts</h1>
<h6>Available Digital Budget: <%= current_user.available_budget %></h6>
<div class="row">
  <div class="span12">
<%= will_paginate @digital_gifts, :renderer => BootstrapPagination::Rails %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class='table table-striped'>
      <thead>
        <tr>
          <th colspan="1">Order ID</th>
          <th colspan="1">Amount</th>
          <th colspan="1">Fee</th>
          <th colspan="1">Given To</th>
          <th colspan="1">For</th>
          <th colspan="1">Campaign Title</th>
          <th colspan="1">Link</th>
        </tr>
      </thead>
      <tbody>
        <% @digital_gifts.each do |digital_gift| %>
        <tr id='digital-gift-<%=digital_gift.id%>' 
          class='well well-small digital-gift <%= cycle('dark', 'light') %>'
          data-user-name='<%= digital_gift.user.name %>'
          data-id='<%=digital_gift.id%>' >
          <td><%= digital_gift.order_id %></td>
          <td><%= humanized_money_with_symbol digital_gift.amount %></td>
          <td><%= humanized_money_with_symbol digital_gift.fee %></td>
          <td><%= link_to digital_gift.reward.person.full_name,digital_gift.reward.person %></td>
          <td><%= link_to digital_gift.reward.giftable_type, digital_gift.reward.giftable %></td>
          <td><%= digital_gift.campaign_title %></td>
          <td><%= digital_gift.link %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @digital_gifts, :renderer => BootstrapPagination::Rails %>
</div>
</div>
