<%= render :partial => 'layouts/reward_menu' %>
<p id="notice"><%= notice %></p>

<h1>Giftrockets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @giftrockets.each do |giftrocket| %>
      <tr>
        <td><%= link_to 'Show', giftrocket %></td>
        <td><%= link_to 'Edit', edit_giftrocket_path(giftrocket) %></td>
        <td><%= link_to 'Destroy', giftrocket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Giftrocket', new_giftrocket_path %>
