<p id="notice"><%= notice %></p>
<%= nav_bar('nav nav-tabs') do %>
  <%= nav_link('Users', users_path, class: 'presentation') %>
  <%= nav_link('People Amounts', people_amount_path, class: 'presentation') %>
  <%= nav_link('Teams', teams_path, class: 'presentation') %>
  <%= nav_link('Budgets', budgets_path, class: 'presentation') %>
  <%= nav_link('Preloaded Cards', preloaded_gift_cards_path, class: 'presentation') %>
  <%= nav_link('Finance Code', finance_code_path, class: 'presentation') %>
  <%= nav_link('Changes', user_changes_path, class: 'presentation') %>
  <%= nav_link('Pools', cart_index_path, class: 'presentation') %>
  <%= nav_link('Map', people_map_path, class: 'presentation') %>
<% end %>


